<div>
    <h2 id="page-heading">
        <span jhiTranslate="theraPiApp.practicies.home.title">Practicies</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-practicies" [routerLink]="['/practicies/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="theraPiApp.practicies.home.createLabel">
            Create a new Practicies
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="practicies?.length === 0">
        <span jhiTranslate="theraPiApp.practicies.home.notFound">No practicies found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="practicies?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.practicies.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.practicies.institutionalFlag">Institutional Flag</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let practicies of practicies ;trackBy: trackId">
                    <td><a [routerLink]="['/practicies', practicies.id, 'view']">{{ practicies.id }}</a></td>
                    <td>{{ practicies.name }}</td>
                    <td>{{ practicies.institutionalFlag }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/practicies', practicies.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/practicies', practicies.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(practicies)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
