<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="appointment">
            <h2><span jhiTranslate="theraPiApp.appointment.detail.title">Appointment</span> {{ appointment.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="theraPiApp.appointment.time">Time</span></dt>
                <dd>
                    <span>{{ appointment.time }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.appointment.patient">Patient</span></dt>
                <dd>
                    <div *ngIf="appointment.patient">
                        <a [routerLink]="['/patient', appointment.patient?.id, 'view']">{{ appointment.patient?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="theraPiApp.appointment.user">User</span></dt>
                <dd>
                    {{ appointment.user?.id }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/appointment', appointment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
