<div>
    <h2 id="page-heading">
        <span jhiTranslate="theraPiApp.appointment.home.title">Appointments</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-appointment" [routerLink]="['/appointment/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="theraPiApp.appointment.home.createLabel">
            Create a new Appointment
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="appointments?.length === 0">
        <span jhiTranslate="theraPiApp.appointment.home.notFound">No appointments found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="appointments?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="theraPiApp.appointment.time">Time</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.appointment.patient">Patient</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.appointment.user">User</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let appointment of appointments ;trackBy: trackId">
                    <td>{{ appointment.time | date:'medium' }}</td>
                    <td>
                        <div *ngIf="appointment.patient">
                            <a [routerLink]="['/patient', appointment.patient?.id, 'view']" >{{ appointment.patient?.firstName }} {{ appointment.patient?.lastName }}</a>
                        </div>
                    </td>
                    <td>
                        {{ appointment.user?.firstName }} {{ appointment.user?.lastName }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">

                            <button type="submit"
                                    [routerLink]="['/appointment', appointment.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(appointment)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
