<div>
    <h2 id="page-heading">
        <span jhiTranslate="theraPiApp.leave.home.title">Leaves</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-leave" [routerLink]="['/leave/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="theraPiApp.leave.home.createLabel">
            Create a new Leave
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="leaves?.length === 0">
        <span jhiTranslate="theraPiApp.leave.home.notFound">No leaves found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="leaves?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.leave.leaveFrom">Leave From</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.leave.leaveTo">Leave To</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.leave.reason">Reason</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.leave.user">User</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let leave of leaves ;trackBy: trackId">
                    <td><a [routerLink]="['/leave', leave.id, 'view']">{{ leave.id }}</a></td>
                    <td>{{ leave.leaveFrom | date:'mediumDate' }}</td>
                    <td>{{ leave.leaveTo | date:'mediumDate' }}</td>
                    <td>{{ leave.reason }}</td>
                    <td>
                        {{ leave.user?.id }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/leave', leave.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/leave', leave.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(leave)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
