<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-leave-heading" jhiTranslate="theraPiApp.leave.home.createOrEditLabel">Create or edit a Leave</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.leave.leaveFrom" for="field_leaveFrom">Leave From</label>
                    <div class="input-group">
                        <input id="field_leaveFrom" type="text" class="form-control" name="leaveFrom" ngbDatepicker #leaveFromDp="ngbDatepicker" formControlName="leaveFrom"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="leaveFromDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.leave.leaveTo" for="field_leaveTo">Leave To</label>
                    <div class="input-group">
                        <input id="field_leaveTo" type="text" class="form-control" name="leaveTo" ngbDatepicker #leaveToDp="ngbDatepicker" formControlName="leaveTo"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="leaveToDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.leave.reason" for="field_reason">Reason</label>
                    <input type="text" class="form-control" name="reason" id="field_reason"
                           formControlName="reason"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.leave.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="user">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
