<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="leave">
            <h2><span jhiTranslate="theraPiApp.leave.detail.title">Leave</span> {{ leave.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="theraPiApp.leave.leaveFrom">Leave From</span></dt>
                <dd>
                    <span>{{ leave.leaveFrom }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.leave.leaveTo">Leave To</span></dt>
                <dd>
                    <span>{{ leave.leaveTo }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.leave.reason">Reason</span></dt>
                <dd>
                    <span>{{ leave.reason }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.leave.user">User</span></dt>
                <dd>
                    {{ leave.user?.id }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/leave', leave.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
