<div>
    <h2 id="page-heading">
        <span jhiTranslate="theraPiApp.offers.home.title">Offers</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-offers" [routerLink]="['/offers/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="theraPiApp.offers.home.createLabel">
            Create a new Offers
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="offers?.length === 0">
        <span jhiTranslate="theraPiApp.offers.home.notFound">No offers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="offers?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.offers.offerName">Offer Name</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.offers.offerDescription">Offer Description</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.offers.avalableFrom">Avalable From</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.offers.avalableTo">Avalable To</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.offers.states">States</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.offers.practicies">Practicies</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let offers of offers ;trackBy: trackId">
                    <td><a [routerLink]="['/offers', offers.id, 'view']">{{ offers.id }}</a></td>
                    <td>{{ offers.offerName }}</td>
                    <td>{{ offers.offerDescription }}</td>
                    <td>{{ offers.avalableFrom | date:'mediumDate' }}</td>
                    <td>{{ offers.avalableTo | date:'mediumDate' }}</td>
                    <td>
                        <span *ngFor="let states of offers.states; let last = last">
                            <a class="form-control-static" [routerLink]="['/states', states?.id, 'view']">{{ states.id }}</a>{{ last ? '' : ', ' }}
                        </span>
                    </td>
                    <td>
                        <span *ngFor="let practicies of offers.practicies; let last = last">
                            <a class="form-control-static" [routerLink]="['/practicies', practicies?.id, 'view']">{{ practicies.id }}</a>{{ last ? '' : ', ' }}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/offers', offers.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/offers', offers.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(offers)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
