<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-offers-heading" jhiTranslate="theraPiApp.offers.home.createOrEditLabel">Create or edit a Offers</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.offers.offerName" for="field_offerName">Offer Name</label>
                    <input type="text" class="form-control" name="offerName" id="field_offerName"
                           formControlName="offerName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.offers.offerDescription" for="field_offerDescription">Offer Description</label>
                    <input type="text" class="form-control" name="offerDescription" id="field_offerDescription"
                           formControlName="offerDescription"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.offers.avalableFrom" for="field_avalableFrom">Avalable From</label>
                    <div class="input-group">
                        <input id="field_avalableFrom" type="text" class="form-control" name="avalableFrom" ngbDatepicker #avalableFromDp="ngbDatepicker" formControlName="avalableFrom"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="avalableFromDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.offers.avalableTo" for="field_avalableTo">Avalable To</label>
                    <div class="input-group">
                        <input id="field_avalableTo" type="text" class="form-control" name="avalableTo" ngbDatepicker #avalableToDp="ngbDatepicker" formControlName="avalableTo"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="avalableToDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label jhiTranslate="theraPiApp.offers.states" for="field_states">States</label>
                    <select class="form-control" id="field_states" multiple name="states" formControlName="states">
                        <option [ngValue]="getSelected(editForm.get('states')!.value, statesOption)" *ngFor="let statesOption of states; trackBy: trackById">{{ statesOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label jhiTranslate="theraPiApp.offers.practicies" for="field_practicies">Practicies</label>
                    <select class="form-control" id="field_practicies" multiple name="practicies" formControlName="practicies">
                        <option [ngValue]="getSelected(editForm.get('practicies')!.value, practiciesOption)" *ngFor="let practiciesOption of practicies; trackBy: trackById">{{ practiciesOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
