<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="offers">
            <h2><span jhiTranslate="theraPiApp.offers.detail.title">Offers</span> {{ offers.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="theraPiApp.offers.offerName">Offer Name</span></dt>
                <dd>
                    <span>{{ offers.offerName }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.offers.offerDescription">Offer Description</span></dt>
                <dd>
                    <span>{{ offers.offerDescription }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.offers.avalableFrom">Avalable From</span></dt>
                <dd>
                    <span>{{ offers.avalableFrom }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.offers.avalableTo">Avalable To</span></dt>
                <dd>
                    <span>{{ offers.avalableTo }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.offers.states">States</span></dt>
                <dd>
                    <span *ngFor="let states of offers.states; let last = last">
                        <a [routerLink]="['/states', states?.id, 'view']">{{ states.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.offers.practicies">Practicies</span></dt>
                <dd>
                    <span *ngFor="let practicies of offers.practicies; let last = last">
                        <a [routerLink]="['/practicies', practicies?.id, 'view']">{{ practicies.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/offers', offers.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
