<div>
    <h2 id="page-heading">
        <span jhiTranslate="theraPiApp.patient.home.title">Patients</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-patient" [routerLink]="['/patient/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="theraPiApp.patient.home.createLabel">
            Create a new Patient
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="patients?.length === 0">
        <span jhiTranslate="theraPiApp.patient.home.notFound">No patients found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="patients?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.patient.firstName">First Name</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.patient.lastName">Last Name</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.patient.phoneNumber">Phone Number</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.patient.emailAddress">Email Address</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.patient.addressCountry">Address Country</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.patient.addressState">Address State</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.patient.addressPostalCode">Address Postal Code</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.patient.addressStreet">Address Street</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.patient.addressHouseNumber">Address House Number</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.patient.addressAdditive">Address Additive</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.patient.healthInsurance">Health Insurance</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.patient.birthday">Birthday</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.patient.defaultDoctor">Default Doctor</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.patient.defaultUser">Default User</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let patient of patients ;trackBy: trackId">
                    <td><a [routerLink]="['/patient', patient.id, 'view']">{{ patient.id }}</a></td>
                    <td>{{ patient.firstName }}</td>
                    <td>{{ patient.lastName }}</td>
                    <td>{{ patient.phoneNumber }}</td>
                    <td>{{ patient.emailAddress }}</td>
                    <td>{{ patient.addressCountry }}</td>
                    <td>{{ patient.addressState }}</td>
                    <td>{{ patient.addressPostalCode }}</td>
                    <td>{{ patient.addressStreet }}</td>
                    <td>{{ patient.addressHouseNumber }}</td>
                    <td>{{ patient.addressAdditive }}</td>
                    <td>{{ patient.healthInsurance }}</td>
                    <td>{{ patient.birthday | date:'mediumDate' }}</td>
                    <td>
                        <div *ngIf="patient.defaultDoctor">
                            <a [routerLink]="['/doctor', patient.defaultDoctor?.id, 'view']" >{{ patient.defaultDoctor?.id }}</a>
                        </div>
                    </td>
                    <td>
                        {{ patient.defaultUser?.id }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/patient', patient.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/patient', patient.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(patient)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
