<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-patient-heading" jhiTranslate="theraPiApp.patient.home.createOrEditLabel">Create or edit a Patient</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.patient.firstName" for="field_firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="field_firstName"
                           formControlName="firstName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.patient.lastName" for="field_lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                           formControlName="lastName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.patient.phoneNumber" for="field_phoneNumber">Phone Number</label>
                    <input type="number" class="form-control" name="phoneNumber" id="field_phoneNumber"
                           formControlName="phoneNumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.patient.emailAddress" for="field_emailAddress">Email Address</label>
                    <input type="text" class="form-control" name="emailAddress" id="field_emailAddress"
                           formControlName="emailAddress"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.patient.addressCountry" for="field_addressCountry">Address Country</label>
                    <input type="text" class="form-control" name="addressCountry" id="field_addressCountry"
                           formControlName="addressCountry"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.patient.addressState" for="field_addressState">Address State</label>
                    <input type="text" class="form-control" name="addressState" id="field_addressState"
                           formControlName="addressState"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.patient.addressPostalCode" for="field_addressPostalCode">Address Postal Code</label>
                    <input type="text" class="form-control" name="addressPostalCode" id="field_addressPostalCode"
                           formControlName="addressPostalCode"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.patient.addressStreet" for="field_addressStreet">Address Street</label>
                    <input type="text" class="form-control" name="addressStreet" id="field_addressStreet"
                           formControlName="addressStreet"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.patient.addressHouseNumber" for="field_addressHouseNumber">Address House Number</label>
                    <input type="text" class="form-control" name="addressHouseNumber" id="field_addressHouseNumber"
                           formControlName="addressHouseNumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.patient.addressAdditive" for="field_addressAdditive">Address Additive</label>
                    <input type="text" class="form-control" name="addressAdditive" id="field_addressAdditive"
                           formControlName="addressAdditive"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.patient.healthInsurance" for="field_healthInsurance">Health Insurance</label>
                    <input type="text" class="form-control" name="healthInsurance" id="field_healthInsurance"
                           formControlName="healthInsurance"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.patient.birthday" for="field_birthday">Birthday</label>
                    <div class="input-group">
                        <input id="field_birthday" type="text" class="form-control" name="birthday" ngbDatepicker #birthdayDp="ngbDatepicker" formControlName="birthday"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="birthdayDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.patient.defaultDoctor" for="field_defaultDoctor">Default Doctor</label>
                    <select class="form-control" id="field_defaultDoctor" name="defaultDoctor" formControlName="defaultDoctor">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="doctorOption.id === editForm.get('defaultDoctor')!.value?.id ? editForm.get('defaultDoctor')!.value : doctorOption" *ngFor="let doctorOption of doctors; trackBy: trackById">{{ doctorOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.patient.defaultUser" for="field_defaultUser">Default User</label>
                    <select class="form-control" id="field_defaultUser" name="defaultUser" formControlName="defaultUser">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('defaultUser')!.value?.id ? editForm.get('defaultUser')!.value : userOption" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
