<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="patient">
            <h2><span jhiTranslate="theraPiApp.patient.detail.title">Patient</span> {{ patient.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="theraPiApp.patient.firstName">First Name</span></dt>
                <dd>
                    <span>{{ patient.firstName }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.patient.lastName">Last Name</span></dt>
                <dd>
                    <span>{{ patient.lastName }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.patient.phoneNumber">Phone Number</span></dt>
                <dd>
                    <span>{{ patient.phoneNumber }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.patient.emailAddress">Email Address</span></dt>
                <dd>
                    <span>{{ patient.emailAddress }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.patient.addressCountry">Address Country</span></dt>
                <dd>
                    <span>{{ patient.addressCountry }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.patient.addressState">Address State</span></dt>
                <dd>
                    <span>{{ patient.addressState }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.patient.addressPostalCode">Address Postal Code</span></dt>
                <dd>
                    <span>{{ patient.addressPostalCode }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.patient.addressStreet">Address Street</span></dt>
                <dd>
                    <span>{{ patient.addressStreet }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.patient.addressHouseNumber">Address House Number</span></dt>
                <dd>
                    <span>{{ patient.addressHouseNumber }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.patient.addressAdditive">Address Additive</span></dt>
                <dd>
                    <span>{{ patient.addressAdditive }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.patient.healthInsurance">Health Insurance</span></dt>
                <dd>
                    <span>{{ patient.healthInsurance }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.patient.birthday">Birthday</span></dt>
                <dd>
                    <span>{{ patient.birthday }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.patient.defaultDoctor">Default Doctor</span></dt>
                <dd>
                    <div *ngIf="patient.defaultDoctor">
                        <a [routerLink]="['/doctor', patient.defaultDoctor?.id, 'view']">{{ patient.defaultDoctor?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="theraPiApp.patient.defaultUser">Default User</span></dt>
                <dd>
                    {{ patient.defaultUser?.id }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/patient', patient.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
