<div>
    <h2 id="page-heading">
        <span jhiTranslate="theraPiApp.attendence.home.title">Attendences</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-attendence" [routerLink]="['/attendence/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="theraPiApp.attendence.home.createLabel">
            Create a new Attendence
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="attendences?.length === 0">
        <span jhiTranslate="theraPiApp.attendence.home.notFound">No attendences found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="attendences?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="theraPiApp.attendence.timeFrom">Time From</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.attendence.timeTo">Time To</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.attendence.user">User</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let attendence of attendences ;trackBy: trackId">
                    <td>{{ attendence.timeFrom | date:'medium' }}</td>
                    <td>{{ attendence.timeTo | date:'medium' }}</td>
                    <td>
                        {{ attendence.user?.firstName }} {{ attendence.user?.lastName }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/attendence', attendence.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/attendence', attendence.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(attendence)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
