<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="attendence">
            <h2><span jhiTranslate="theraPiApp.attendence.detail.title">Attendence</span> {{ attendence.timeFrom | date:'medium' }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="theraPiApp.attendence.timeFrom">Time From</span></dt>
                <dd>
                    <span>{{ attendence.timeFrom | date:'medium' }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.attendence.timeTo">Time To</span></dt>
                <dd>
                    <span>{{ attendence.timeTo | date:'medium' }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.attendence.user">User</span></dt>
                <dd>
                    {{ attendence.user?.firstName }} {{ attendence.user?.lastName }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/attendence', attendence.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
