<div>
    <h2 id="page-heading">
        <span jhiTranslate="theraPiApp.session.home.title">Sessions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-session" [routerLink]="['/session/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="theraPiApp.session.home.createLabel">
            Create a new Session
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="sessions?.length === 0">
        <span jhiTranslate="theraPiApp.session.home.notFound">No sessions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="sessions?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.session.timeFrom">Time From</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.session.timeTo">Time To</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.session.notes">Notes</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.session.patient">Patient</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.session.user">User</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.session.offer">Offer</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let session of sessions ;trackBy: trackId">
                    <td><a [routerLink]="['/session', session.id, 'view']">{{ session.id }}</a></td>
                    <td>{{ session.timeFrom | date:'medium' }}</td>
                    <td>{{ session.timeTo | date:'medium' }}</td>
                    <td>{{ session.notes }}</td>
                    <td>
                        <div *ngIf="session.patient">
                            <a [routerLink]="['/patient', session.patient?.id, 'view']" >{{ session.patient?.id }}</a>
                        </div>
                    </td>
                    <td>
                        {{ session.user?.id }}
                    </td>
                    <td>
                        <div *ngIf="session.offer">
                            <a [routerLink]="['/offers', session.offer?.id, 'view']" >{{ session.offer?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/session', session.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/session', session.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(session)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
