<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="session">
            <h2><span jhiTranslate="theraPiApp.session.detail.title">Session</span> {{ session.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="theraPiApp.session.timeFrom">Time From</span></dt>
                <dd>
                    <span>{{ session.timeFrom }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.session.timeTo">Time To</span></dt>
                <dd>
                    <span>{{ session.timeTo }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.session.notes">Notes</span></dt>
                <dd>
                    <span>{{ session.notes }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.session.patient">Patient</span></dt>
                <dd>
                    <div *ngIf="session.patient">
                        <a [routerLink]="['/patient', session.patient?.id, 'view']">{{ session.patient?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="theraPiApp.session.user">User</span></dt>
                <dd>
                    {{ session.user?.id }}
                </dd>
                <dt><span jhiTranslate="theraPiApp.session.offer">Offer</span></dt>
                <dd>
                    <div *ngIf="session.offer">
                        <a [routerLink]="['/offers', session.offer?.id, 'view']">{{ session.offer?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/session', session.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
