<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-doctor-heading" jhiTranslate="theraPiApp.doctor.home.createOrEditLabel">Create or edit a Doctor</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.doctor.title" for="field_title">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                           formControlName="title"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.doctor.firstName" for="field_firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="field_firstName"
                           formControlName="firstName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.doctor.lastName" for="field_lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                           formControlName="lastName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.doctor.phoneNumber" for="field_phoneNumber">Phone Number</label>
                    <input type="text" class="form-control" name="phoneNumber" id="field_phoneNumber"
                           formControlName="phoneNumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.doctor.emailAddress" for="field_emailAddress">Email Address</label>
                    <input type="text" class="form-control" name="emailAddress" id="field_emailAddress"
                           formControlName="emailAddress"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.doctor.addressCountry" for="field_addressCountry">Address Country</label>
                    <input type="text" class="form-control" name="addressCountry" id="field_addressCountry"
                           formControlName="addressCountry"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.doctor.addressState" for="field_addressState">Address State</label>
                    <input type="text" class="form-control" name="addressState" id="field_addressState"
                           formControlName="addressState"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.doctor.addressPostalCode" for="field_addressPostalCode">Address Postal Code</label>
                    <input type="text" class="form-control" name="addressPostalCode" id="field_addressPostalCode"
                           formControlName="addressPostalCode"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.doctor.addressStreet" for="field_addressStreet">Address Street</label>
                    <input type="text" class="form-control" name="addressStreet" id="field_addressStreet"
                           formControlName="addressStreet"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.doctor.addressHouseNumber" for="field_addressHouseNumber">Address House Number</label>
                    <input type="text" class="form-control" name="addressHouseNumber" id="field_addressHouseNumber"
                           formControlName="addressHouseNumber"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.doctor.addressAdditive" for="field_addressAdditive">Address Additive</label>
                    <input type="text" class="form-control" name="addressAdditive" id="field_addressAdditive"
                           formControlName="addressAdditive"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
