<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="doctor">
            <h2><span jhiTranslate="theraPiApp.doctor.detail.title">Doctor</span> {{ doctor.title }} {{ doctor.lastName }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="theraPiApp.doctor.title">Title</span></dt>
                <dd>
                    <span>{{ doctor.title }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.doctor.firstName">First Name</span></dt>
                <dd>
                    <span>{{ doctor.firstName }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.doctor.lastName">Last Name</span></dt>
                <dd>
                    <span>{{ doctor.lastName }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.doctor.phoneNumber">Phone Number</span></dt>
                <dd>
                    <span>{{ doctor.phoneNumber }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.doctor.emailAddress">Email Address</span></dt>
                <dd>
                    <span>{{ doctor.emailAddress }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.doctor.addressCountry">Address Country</span></dt>
                <dd>
                    <span>{{ doctor.addressCountry }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.doctor.addressState">Address State</span></dt>
                <dd>
                    <span>{{ doctor.addressState }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.doctor.addressPostalCode">Address Postal Code</span></dt>
                <dd>
                    <span>{{ doctor.addressPostalCode }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.doctor.addressStreet">Address Street</span></dt>
                <dd>
                    <span>{{ doctor.addressStreet }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.doctor.addressHouseNumber">Address House Number</span></dt>
                <dd>
                    <span>{{ doctor.addressHouseNumber }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.doctor.addressAdditive">Address Additive</span></dt>
                <dd>
                    <span>{{ doctor.addressAdditive }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/doctor', doctor.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
