<div>
    <h2 id="page-heading">
        <span jhiTranslate="theraPiApp.doctor.home.title">Doctors</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-doctor" [routerLink]="['/doctor/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="theraPiApp.doctor.home.createLabel">
            Create a new Doctor
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="doctors?.length === 0">
        <span jhiTranslate="theraPiApp.doctor.home.notFound">No doctors found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="doctors?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="theraPiApp.doctor.title">Title</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.doctor.firstName">First Name</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.doctor.lastName">Last Name</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.doctor.phoneNumber">Phone Number</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.doctor.emailAddress">Email Address</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.doctor.addressCountry">Address Country</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.doctor.addressState">Address State</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.doctor.addressPostalCode">Address Postal Code</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.doctor.addressStreet">Address Street</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.doctor.addressHouseNumber">Address House Number</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.doctor.addressAdditive">Address Additive</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let doctor of doctors ;trackBy: trackId">
                    <td>{{ doctor.title }}</td>
                    <td>{{ doctor.firstName }}</td>
                    <td>{{ doctor.lastName }}</td>
                    <td>{{ doctor.phoneNumber }}</td>
                    <td>{{ doctor.emailAddress }}</td>
                    <td>{{ doctor.addressCountry }}</td>
                    <td>{{ doctor.addressState }}</td>
                    <td>{{ doctor.addressPostalCode }}</td>
                    <td>{{ doctor.addressStreet }}</td>
                    <td>{{ doctor.addressHouseNumber }}</td>
                    <td>{{ doctor.addressAdditive }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/doctor', doctor.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/doctor', doctor.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(doctor)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
