<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="todo">
            <h2><span jhiTranslate="theraPiApp.todo.detail.title">Todo</span> {{ todo.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="theraPiApp.todo.title">Title</span></dt>
                <dd>
                    <span>{{ todo.title }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.todo.text">Text</span></dt>
                <dd>
                    <span>{{ todo.text }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.todo.shared">Shared</span></dt>
                <dd>
                    <span>{{ todo.shared }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.todo.user">User</span></dt>
                <dd>
                    {{ todo.user?.id }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/todo', todo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
