<div>
    <h2 id="page-heading">
        <span jhiTranslate="theraPiApp.todo.home.title">Todos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-todo" [routerLink]="['/todo/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="theraPiApp.todo.home.createLabel">
            Create a new Todo
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="todos?.length === 0">
        <span jhiTranslate="theraPiApp.todo.home.notFound">No todos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="todos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.todo.title">Title</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.todo.text">Text</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.todo.shared">Shared</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.todo.user">User</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let todo of todos ;trackBy: trackId">
                    <td><a [routerLink]="['/todo', todo.id, 'view']">{{ todo.id }}</a></td>
                    <td>{{ todo.title }}</td>
                    <td>{{ todo.text }}</td>
                    <td>{{ todo.shared }}</td>
                    <td>
                        {{ todo.user?.id }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/todo', todo.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/todo', todo.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(todo)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
