<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="perscription">
            <h2><span jhiTranslate="theraPiApp.perscription.detail.title">Perscription</span> {{ perscription.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="theraPiApp.perscription.recipieClass">Recipie Class</span></dt>
                <dd>
                    <span>{{ perscription.recipieClass }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.perscription.recipieDate">Recipie Date</span></dt>
                <dd>
                    <span>{{ perscription.recipieDate }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.perscription.latestPossibleBegin">Latest Possible Begin</span></dt>
                <dd>
                    <span>{{ perscription.latestPossibleBegin }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.perscription.typeOfRegulation">Type Of Regulation</span></dt>
                <dd>
                    <span>{{ perscription.typeOfRegulation }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.perscription.perscribedRemedies1">Perscribed Remedies 1</span></dt>
                <dd>
                    <span>{{ perscription.perscribedRemedies1 }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.perscription.perscribedRemedies2">Perscribed Remedies 2</span></dt>
                <dd>
                    <span>{{ perscription.perscribedRemedies2 }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.perscription.perscribedRemedies3">Perscribed Remedies 3</span></dt>
                <dd>
                    <span>{{ perscription.perscribedRemedies3 }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.perscription.perscribedRemedies4">Perscribed Remedies 4</span></dt>
                <dd>
                    <span>{{ perscription.perscribedRemedies4 }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.perscription.perscribedRemediesCount1">Perscribed Remedies Count 1</span></dt>
                <dd>
                    <span>{{ perscription.perscribedRemediesCount1 }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.perscription.perscribedRemediesCount2">Perscribed Remedies Count 2</span></dt>
                <dd>
                    <span>{{ perscription.perscribedRemediesCount2 }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.perscription.perscribedRemediesCount3">Perscribed Remedies Count 3</span></dt>
                <dd>
                    <span>{{ perscription.perscribedRemediesCount3 }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.perscription.perscribedRemediesCount4">Perscribed Remedies Count 4</span></dt>
                <dd>
                    <span>{{ perscription.perscribedRemediesCount4 }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.perscription.treatmentFrequency">Treatment Frequency</span></dt>
                <dd>
                    <span>{{ perscription.treatmentFrequency }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.perscription.duratationTreatment">Duratation Treatment</span></dt>
                <dd>
                    <span>{{ perscription.duratationTreatment }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.perscription.indicationKey">Indication Key</span></dt>
                <dd>
                    <span>{{ perscription.indicationKey }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.perscription.barcodeFormat">Barcode Format</span></dt>
                <dd>
                    <span>{{ perscription.barcodeFormat }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.perscription.colorcodeTK">Colorcode TK</span></dt>
                <dd>
                    <span>{{ perscription.colorcodeTK }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.perscription.icd10Code1">Icd 10 Code 1</span></dt>
                <dd>
                    <span>{{ perscription.icd10Code1 }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.perscription.icd10Code2">Icd 10 Code 2</span></dt>
                <dd>
                    <span>{{ perscription.icd10Code2 }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.perscription.diagnosisFromDoctor">Diagnosis From Doctor</span></dt>
                <dd>
                    <span>{{ perscription.diagnosisFromDoctor }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.perscription.homeVisit">Home Visit</span></dt>
                <dd>
                    <span>{{ perscription.homeVisit }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.perscription.report">Report</span></dt>
                <dd>
                    <span>{{ perscription.report }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.perscription.patient">Patient</span></dt>
                <dd>
                    <div *ngIf="perscription.patient">
                        <a [routerLink]="['/patient', perscription.patient?.id, 'view']">{{ perscription.patient?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="theraPiApp.perscription.perscribingDoctor">Perscribing Doctor</span></dt>
                <dd>
                    <div *ngIf="perscription.perscribingDoctor">
                        <a [routerLink]="['/doctor', perscription.perscribingDoctor?.id, 'view']">{{ perscription.perscribingDoctor?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/perscription', perscription.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
