<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-perscription-heading" jhiTranslate="theraPiApp.perscription.home.createOrEditLabel">Create or edit a Perscription</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.perscription.recipieClass" for="field_recipieClass">Recipie Class</label>
                    <input type="text" class="form-control" name="recipieClass" id="field_recipieClass"
                           formControlName="recipieClass"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.perscription.recipieDate" for="field_recipieDate">Recipie Date</label>
                    <div class="input-group">
                        <input id="field_recipieDate" type="text" class="form-control" name="recipieDate" ngbDatepicker #recipieDateDp="ngbDatepicker" formControlName="recipieDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="recipieDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.perscription.latestPossibleBegin" for="field_latestPossibleBegin">Latest Possible Begin</label>
                    <div class="input-group">
                        <input id="field_latestPossibleBegin" type="text" class="form-control" name="latestPossibleBegin" ngbDatepicker #latestPossibleBeginDp="ngbDatepicker" formControlName="latestPossibleBegin"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="latestPossibleBeginDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.perscription.typeOfRegulation" for="field_typeOfRegulation">Type Of Regulation</label>
                    <input type="text" class="form-control" name="typeOfRegulation" id="field_typeOfRegulation"
                           formControlName="typeOfRegulation"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.perscription.perscribedRemedies1" for="field_perscribedRemedies1">Perscribed Remedies 1</label>
                    <input type="text" class="form-control" name="perscribedRemedies1" id="field_perscribedRemedies1"
                           formControlName="perscribedRemedies1"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.perscription.perscribedRemedies2" for="field_perscribedRemedies2">Perscribed Remedies 2</label>
                    <input type="text" class="form-control" name="perscribedRemedies2" id="field_perscribedRemedies2"
                           formControlName="perscribedRemedies2"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.perscription.perscribedRemedies3" for="field_perscribedRemedies3">Perscribed Remedies 3</label>
                    <input type="text" class="form-control" name="perscribedRemedies3" id="field_perscribedRemedies3"
                           formControlName="perscribedRemedies3"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.perscription.perscribedRemedies4" for="field_perscribedRemedies4">Perscribed Remedies 4</label>
                    <input type="text" class="form-control" name="perscribedRemedies4" id="field_perscribedRemedies4"
                           formControlName="perscribedRemedies4"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.perscription.perscribedRemediesCount1" for="field_perscribedRemediesCount1">Perscribed Remedies Count 1</label>
                    <input type="text" class="form-control" name="perscribedRemediesCount1" id="field_perscribedRemediesCount1"
                           formControlName="perscribedRemediesCount1"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.perscription.perscribedRemediesCount2" for="field_perscribedRemediesCount2">Perscribed Remedies Count 2</label>
                    <input type="text" class="form-control" name="perscribedRemediesCount2" id="field_perscribedRemediesCount2"
                           formControlName="perscribedRemediesCount2"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.perscription.perscribedRemediesCount3" for="field_perscribedRemediesCount3">Perscribed Remedies Count 3</label>
                    <input type="text" class="form-control" name="perscribedRemediesCount3" id="field_perscribedRemediesCount3"
                           formControlName="perscribedRemediesCount3"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.perscription.perscribedRemediesCount4" for="field_perscribedRemediesCount4">Perscribed Remedies Count 4</label>
                    <input type="text" class="form-control" name="perscribedRemediesCount4" id="field_perscribedRemediesCount4"
                           formControlName="perscribedRemediesCount4"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.perscription.treatmentFrequency" for="field_treatmentFrequency">Treatment Frequency</label>
                    <input type="text" class="form-control" name="treatmentFrequency" id="field_treatmentFrequency"
                           formControlName="treatmentFrequency"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.perscription.duratationTreatment" for="field_duratationTreatment">Duratation Treatment</label>
                    <input type="number" class="form-control" name="duratationTreatment" id="field_duratationTreatment"
                           formControlName="duratationTreatment"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.perscription.indicationKey" for="field_indicationKey">Indication Key</label>
                    <input type="text" class="form-control" name="indicationKey" id="field_indicationKey"
                           formControlName="indicationKey"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.perscription.barcodeFormat" for="field_barcodeFormat">Barcode Format</label>
                    <input type="text" class="form-control" name="barcodeFormat" id="field_barcodeFormat"
                           formControlName="barcodeFormat"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.perscription.colorcodeTK" for="field_colorcodeTK">Colorcode TK</label>
                    <input type="text" class="form-control" name="colorcodeTK" id="field_colorcodeTK"
                           formControlName="colorcodeTK"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.perscription.icd10Code1" for="field_icd10Code1">Icd 10 Code 1</label>
                    <input type="text" class="form-control" name="icd10Code1" id="field_icd10Code1"
                           formControlName="icd10Code1"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.perscription.icd10Code2" for="field_icd10Code2">Icd 10 Code 2</label>
                    <input type="text" class="form-control" name="icd10Code2" id="field_icd10Code2"
                           formControlName="icd10Code2"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.perscription.diagnosisFromDoctor" for="field_diagnosisFromDoctor">Diagnosis From Doctor</label>
                    <input type="text" class="form-control" name="diagnosisFromDoctor" id="field_diagnosisFromDoctor"
                           formControlName="diagnosisFromDoctor"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.perscription.homeVisit" for="field_homeVisit">Home Visit</label>
                    <input type="checkbox" class="form-control" name="homeVisit" id="field_homeVisit"
                           formControlName="homeVisit"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.perscription.report" for="field_report">Report</label>
                    <input type="checkbox" class="form-control" name="report" id="field_report"
                           formControlName="report"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.perscription.patient" for="field_patient">Patient</label>
                    <select class="form-control" id="field_patient" name="patient" formControlName="patient">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="patientOption.id === editForm.get('patient')!.value?.id ? editForm.get('patient')!.value : patientOption" *ngFor="let patientOption of patients; trackBy: trackById">{{ patientOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="theraPiApp.perscription.perscribingDoctor" for="field_perscribingDoctor">Perscribing Doctor</label>
                    <select class="form-control" id="field_perscribingDoctor" name="perscribingDoctor" formControlName="perscribingDoctor">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="doctorOption.id === editForm.get('perscribingDoctor')!.value?.id ? editForm.get('perscribingDoctor')!.value : doctorOption" *ngFor="let doctorOption of doctors; trackBy: trackById">{{ doctorOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
