<div>
    <h2 id="page-heading">
        <span jhiTranslate="theraPiApp.perscription.home.title">Perscriptions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-perscription" [routerLink]="['/perscription/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="theraPiApp.perscription.home.createLabel">
            Create a new Perscription
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="perscriptions?.length === 0">
        <span jhiTranslate="theraPiApp.perscription.home.notFound">No perscriptions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="perscriptions?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.perscription.recipieClass">Recipie Class</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.perscription.recipieDate">Recipie Date</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.perscription.latestPossibleBegin">Latest Possible Begin</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.perscription.typeOfRegulation">Type Of Regulation</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.perscription.perscribedRemedies1">Perscribed Remedies 1</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.perscription.perscribedRemedies2">Perscribed Remedies 2</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.perscription.perscribedRemedies3">Perscribed Remedies 3</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.perscription.perscribedRemedies4">Perscribed Remedies 4</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.perscription.perscribedRemediesCount1">Perscribed Remedies Count 1</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.perscription.perscribedRemediesCount2">Perscribed Remedies Count 2</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.perscription.perscribedRemediesCount3">Perscribed Remedies Count 3</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.perscription.perscribedRemediesCount4">Perscribed Remedies Count 4</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.perscription.treatmentFrequency">Treatment Frequency</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.perscription.duratationTreatment">Duratation Treatment</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.perscription.indicationKey">Indication Key</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.perscription.barcodeFormat">Barcode Format</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.perscription.colorcodeTK">Colorcode TK</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.perscription.icd10Code1">Icd 10 Code 1</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.perscription.icd10Code2">Icd 10 Code 2</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.perscription.diagnosisFromDoctor">Diagnosis From Doctor</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.perscription.homeVisit">Home Visit</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.perscription.report">Report</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.perscription.patient">Patient</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.perscription.perscribingDoctor">Perscribing Doctor</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let perscription of perscriptions ;trackBy: trackId">
                    <td><a [routerLink]="['/perscription', perscription.id, 'view']">{{ perscription.id }}</a></td>
                    <td>{{ perscription.recipieClass }}</td>
                    <td>{{ perscription.recipieDate | date:'mediumDate' }}</td>
                    <td>{{ perscription.latestPossibleBegin | date:'mediumDate' }}</td>
                    <td>{{ perscription.typeOfRegulation }}</td>
                    <td>{{ perscription.perscribedRemedies1 }}</td>
                    <td>{{ perscription.perscribedRemedies2 }}</td>
                    <td>{{ perscription.perscribedRemedies3 }}</td>
                    <td>{{ perscription.perscribedRemedies4 }}</td>
                    <td>{{ perscription.perscribedRemediesCount1 }}</td>
                    <td>{{ perscription.perscribedRemediesCount2 }}</td>
                    <td>{{ perscription.perscribedRemediesCount3 }}</td>
                    <td>{{ perscription.perscribedRemediesCount4 }}</td>
                    <td>{{ perscription.treatmentFrequency }}</td>
                    <td>{{ perscription.duratationTreatment }}</td>
                    <td>{{ perscription.indicationKey }}</td>
                    <td>{{ perscription.barcodeFormat }}</td>
                    <td>{{ perscription.colorcodeTK }}</td>
                    <td>{{ perscription.icd10Code1 }}</td>
                    <td>{{ perscription.icd10Code2 }}</td>
                    <td>{{ perscription.diagnosisFromDoctor }}</td>
                    <td>{{ perscription.homeVisit }}</td>
                    <td>{{ perscription.report }}</td>
                    <td>
                        <div *ngIf="perscription.patient">
                            <a [routerLink]="['/patient', perscription.patient?.id, 'view']" >{{ perscription.patient?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="perscription.perscribingDoctor">
                            <a [routerLink]="['/doctor', perscription.perscribingDoctor?.id, 'view']" >{{ perscription.perscribingDoctor?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/perscription', perscription.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/perscription', perscription.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(perscription)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
