<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="report">
            <h2><span jhiTranslate="theraPiApp.report.detail.title">Report</span> {{ report.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="theraPiApp.report.title">Title</span></dt>
                <dd>
                    <span>{{ report.title }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.report.text">Text</span></dt>
                <dd>
                    <span>{{ report.text }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.report.isDrafted">Is Drafted</span></dt>
                <dd>
                    <span>{{ report.isDrafted }}</span>
                </dd>
                <dt><span jhiTranslate="theraPiApp.report.author">Author</span></dt>
                <dd>
                    {{ report.author?.id }}
                </dd>
                <dt><span jhiTranslate="theraPiApp.report.patient">Patient</span></dt>
                <dd>
                    <div *ngIf="report.patient">
                        <a [routerLink]="['/patient', report.patient?.id, 'view']">{{ report.patient?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="theraPiApp.report.doctor">Doctor</span></dt>
                <dd>
                    <div *ngIf="report.doctor">
                        <a [routerLink]="['/doctor', report.doctor?.id, 'view']">{{ report.doctor?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="theraPiApp.report.recipie">Recipie</span></dt>
                <dd>
                    <div *ngIf="report.recipie">
                        <a [routerLink]="['/perscription', report.recipie?.id, 'view']">{{ report.recipie?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/report', report.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
