<div>
    <h2 id="page-heading">
        <span jhiTranslate="theraPiApp.report.home.title">Reports</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-report" [routerLink]="['/report/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="theraPiApp.report.home.createLabel">
            Create a new Report
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="reports?.length === 0">
        <span jhiTranslate="theraPiApp.report.home.notFound">No reports found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="reports?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.report.title">Title</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.report.text">Text</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.report.isDrafted">Is Drafted</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.report.author">Author</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.report.patient">Patient</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.report.doctor">Doctor</span></th>
                    <th scope="col" ><span jhiTranslate="theraPiApp.report.recipie">Recipie</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let report of reports ;trackBy: trackId">
                    <td><a [routerLink]="['/report', report.id, 'view']">{{ report.id }}</a></td>
                    <td>{{ report.title }}</td>
                    <td>{{ report.text }}</td>
                    <td>{{ report.isDrafted }}</td>
                    <td>
                        {{ report.author?.id }}
                    </td>
                    <td>
                        <div *ngIf="report.patient">
                            <a [routerLink]="['/patient', report.patient?.id, 'view']" >{{ report.patient?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="report.doctor">
                            <a [routerLink]="['/doctor', report.doctor?.id, 'view']" >{{ report.doctor?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="report.recipie">
                            <a [routerLink]="['/perscription', report.recipie?.id, 'view']" >{{ report.recipie?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/report', report.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/report', report.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(report)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
